* {
    box-sizing: border-box;
    font-family: 'roboto', Arial;
}

body {
    margin: 0px;
    padding: 0%;
    height: 100;
}

.homepg-top {
    background: #1f2937;
}

.homepg-hdr {
    display: flex;
    gap: 100px;
}

.homepg-hdr h2 {
    margin: 40px;
    color: #F9FAF8;
    font-size: 24px;
    flex: 1 1 auto;
}

.hdr-links {
    width: 500px;
    padding: 30px;
    color: #e5e7eb;
    font-size: 18px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.hdr-links div {
    flex: 0 0 auto;
    text-align: center;
}

.homepg-info {
    height: 450px;
    display: flex;
    gap: 100px;
}

.homepg-desc {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    padding: 40px;
    width: 600px;
    gap: 10px;
}

.homepg-desc div {
    flex: 0 0 auto;
    color: #e5e7eb;
    font-size: 18px;
}

.title {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0px;
}

.homepg-info img {
    width: 400px;
    height: 400px;
}

.sign-up-button {
    text-align: center;
    background-color: #3882F6;
    font-weight: bold;
    width: 90px;
    border-radius: 10px;
    padding: 2px;
}

.homepg-middle {
    height: 500px;
    width: auto;
}

.homepg-middle h1 {
    text-align: center;
    size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 10px;
    padding: 0px;
}

.midpg-img-cont {
    display: flex;
    padding: 50px;
    gap: 50px;
}

.midpg-img-cont div {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 325px;
}

.illustrations div{
    flex: 1 1 auto;
    width: 250px;
    border-radius: 10px;
    border: 3px solid #3882F6;
}

.illustrations p {
    padding: 8px;
}

.homepg-quote {
    width: auto;
    height: 400px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepg-quote h1 {
    flex: 0 0 auto;
    size: 36px;
    color: #1f2937;
    font-weight: 300;
    text-align: justify;
    width: 800px;
    padding: 10px;;
    margin: 0px;
}

.homepg-quote h3 {
    size: 36px;
    font-weight: 900;
    flex: 0 0 auto;
    text-align: end;
    width: 800px;
    padding: 20px;
    margin: 0px;
}

.homepg-contact-us {
    width: auto;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-banner {
    width: 800px;
    height: 100px;
    flex: 0 0 auto;
    display: flex;
    border-radius: 10px;
    background-color: #3882F6;
}

.contact-info {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.contact-info h2 {
    color: #F9FAF8;
    flex: 0 0 auto;
    margin: 0px;
    padding: 0px;
}

.contact-info p {
    color: #F9FAF8;
    flex: 0 0 auto;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
}

.sign-up {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sign-up div {
    color: #F9FAF8;
    text-align: center;
    flex: 0 0 auto;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px;
    width: 100px;
}






.homepg-footer {
    width: auto;
    height: 100px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homepg-footer h4 {
    text-align: center;
    size: 18px;
    color:#E5E7EB;
    margin: 0px;
    padding: 0px;
    font-weight: 300;
}
